@tailwind base;
@tailwind components;
@tailwind utilities;

/* Można zachować te globalne style */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0c0c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%; /* Ustawia szerokość root na 100% */
}

body {
  @apply items-center min-h-screen bg-gray-900 text-gray-200;
}

/* Mniejsze czcionki na urządzeniach mobilnych */
@media (max-width: 640px) {
  :root {
    font-size: 0.875rem; /* 14px */
  }

  body {
    @apply text-sm; /* Mniejszy rozmiar tekstu */
  }
}

a {
  @apply font-medium text-indigo-500 hover:text-purple-400 transition;
}

button {
  @apply rounded-lg border border-transparent px-3 py-2 text-base font-medium bg-gray-900 hover:border-indigo-500 transition;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: transparent;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* index.css */
.kofi-widget {
  position: fixed; /* Ustawia widget jako stały */
  bottom: 20px; /* Ustawia odległość od dolnej krawędzi */
  right: 20px; /* Ustawia odległość od prawej krawędzi */
  z-index: 9999; /* Ustawia najwyższy z-index */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px; /* Zaokrąglenie rogów */
  padding: 10px; /* Padding wewnętrzny */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cień dla lepszego efektu wizualnego */
}
